<h1>New List</h1>

<form class="list-form" method="post">
  <label>
    Title
    <input type="text" name="list[title]" value="<%= list.title %>">
  </label>

  <input type="submit" name="Submit">
</form>
