<h1>Hello World</h1>
<a class="index nav" href="#">Index</a>
<a class="newFeed nav" href="#feeds/new">NEW FEEED OMGMGMGMGMGMGMGMGMGM</a>
<div id='content'></div>

<div class='footer'>BY JUSTINXRONALD</div>
<script></script>
