<h2>Crete na Neuw Foauirm Feedur</h2>

<form class="new-feed">

  <label>
    Url
    <input type="text" name="feed[url]" value="<%= feed.get('url') %>">
  </label>

  <label>
    Title
    <input type="text" name="feed[title]" value="<%= feed.get('title') %>">
  </label>

  <input type="submit" class="submit" name="SubMatToMyPower!">

</form>
